<footer>
    <p>take the images from <a href="https://dog.ceo/dog-api">https://dog.ceo/dog-api</a>  website/API for more visit their website</p>
</footer>
add breed and list of breed later
</body>
</html>