<%- include('partials/header.ejs'); -%>
<main>
    <h1>Contact Us</h1>
    <form calss="contactForm" action="/submit-contact" method="post">
        <label class="contactLabel" for="name">Name:</label>
        <input class="contactInput" type="text" id="name" name="name" required>
        
        <label class="contactLabel" for="email">Email:</label>
        <input class="contactInput" type="email" id="email" name="email" required>
        
        <label class="contactLabel" for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        
        <button type="submit">Submit</button>
    </form>
    
    <p>If you have any questions, feedback, or inquiries, please don't hesitate to contact us.</p>
    <p>Email: info@dogimageviewer.com</p>
    <p>Phone: 123-456-7890</p>
</main><%- include('partials/footer.ejs'); -%>